root/documents/todo.csv
.env
/logs/
/etc/psswrd.txt
/config/config.db
temp.txt
/.idea/
test.py
undefined.log
.gitignore
.DS_Store
/help/
undefined
/__pycache__
/testing/
/etc/
/memory
/applications
/tests/
api/__pycache__/logger.cpython-313.pyc
